[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/miclnl/hugo-theme-stack.git
[submodule "themes/hugo-future-imperfect-slim"]
	path = themes/hugo-future-imperfect-slim
	url = https://github.com/pacollins/hugo-future-imperfect-slim.git
